@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka:wght@300..700&family=Poppins:wght@300;400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */

@layer base {
  body {
    @apply bg-white font-bebas;
  }
}

/* Animated Gradient Background */
.animated-background {
  background: linear-gradient(270deg, #ff4b1f, #ff9068, #ff758c, #ff7eb3, #ff9a9e, #fbc2eb);




  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}